<header>
  <div class="bars none" (click)="handleDisplayMobileNav()">
    <img src="../../../assets/img/icons/hamburger.png" alt="">
  </div>
    <div class="logo">
      <a routerLink="">{{siteName}}</a>
    </div>

    <div class="nav-bar">
      <ul>
        <li *ngFor="let item of nav_items"> <a [routerLink]="item?.path">{{item?.name}}</a> </li>
        <!--li> <a routerLink="">products</a> </li>
        <li> <a routerLink="">blog</a> </li-->
        <li *ngFor="let item of auth_data"> <a [routerLink]="item?.path" class="btnHeader">{{item?.name}}</a> </li>
        <!--li> <a routerLink="signup" class="btnHeader">sign up</a> </li>
        < Utiliser RouterLink et non pas href-->
        <!--li>
          <a href="#">{{second}} seconds</a>
        </li-->
      </ul>
    </div>
</header>
<app-aside-nav (close) = "handleCloseMobileNav()" *ngIf="isDisplayMobileMenuNav"></app-aside-nav>
