<!--a [routerLink]="['product', pipi?.id]"--> <!-- pipi car c'est la variable qui ramène les produits dans la logique du composant-->
  <!-- Au clic sur l'article, on entrera dans le produit avec l'id du prod. cliqué qui sera mis an param -->

  <div class="product-item" (click)="handleClickProduct(pipi)"><!--(click)="deleteProduct(pipi)"-->
    <div class="product-image" title="Vu détaillée de l'article" [routerLink]="['product', pipi?.slug]" >
      <!-- img src ="https://www.cdiscount.com/pdt2/1/4/2/1/700x700/mp20945142/rw/chemise-fashion-pour-homme-chemise.jpg"-->
      <!-- Condition ternaire car "pipi" peut être undefinced,
            Si l'img existe, on récupere la 1ere img du tab de 4
            Sinon On ne ramène rien-->
      <img [src]="pipi ? pipi.imageUrl[0] : ''"

      alt={{pipi?.slug}}>
    </div>

    <div class="product-details" title="Vu rapide de l'article">

      <div class="product-name">
        <!--h2>{{pipi?.name}}</h2-->
        <h2>{{pipi?.name?.substring(0,25) }} {{pipi && pipi.name[26] ?"...":null}}</h2>
        <!-- subsring(maximum 7 lettres) s'il y a au-delà, on met ...-->
      </div>

      <div class="product-price">
        <!--h3>{{ (product?.sold_price || 0) /100 }}</h3> < On met 0 si pas de valeur, ou bien on divise par 100 -->
        <h3>{{ pipi?.sold_price | currency:"EUR" }}</h3>
        <del><h3>{{ pipi?.regular_price | currency:"EUR"}}</h3></del>
      </div>

      <div class="product-action-button flex gap-3 jcc">
        <button class="btn" (click)="handleClickProduct(pipi)">Quick view</button>
        <!--button class="btn" [routerLink]="['product', pipi?.name]">
          All details
        </button-->

      </div>
    </div>

  </div>
<!--/a-->
