<!--https://angular.io/api/common/DatePipe>
<h2>Date : {{date | date:"medium"}}</h2>
<h2>Date : {{date | date:"short"}}</h2>
<h2>Date : {{date | date:"hh:mm:ss"}}</h2--> <!-- Affiche seulement l'heure-->
<!--h2>Date : {{date | date:"dd/MM/YYYY"}}</h2>
  <h2>Date : {{date | date}}</h2-->
<!--div>Table: {{products | json}}</div-->

<div class="product-list">
  <app-loader *ngIf="isLoading"></app-loader>
  <!-- Ici on veut récuperer le 1er produit du tab products dans la variable "pipi"-->
  <!-- la variable qui stocke doit avoir le même nom chez le fils-->
  <!--app-product-item [pipi] = "products[0]"></app-product-item-->
  <div class="product-list" *ngIf="!isLoading && products.length">
    <app-product-item
    *ngFor="let maVariable of products"
    [pipi] = "maVariable"
    (supprimerProduit)=  "handleDeleteProduct($event)"
    (displayProductViewModal)=  "handleDispalyProductViewModal($event)">
    </app-product-item>
    <!-- Appel de l'output "supprimerProduit" auquel on affecte l'action handleDeleteProduct()-->
  </div>

  <div class="bar" *ngIf="!isLoading && !products.length">
     <!-- Les données sont disponibles mais en cours de chargement := loanding logo -->
     <!-- Les articles ont été chragé mais rien n'est retourné := messsage -->
    <h2 class="flex jcc aic">Désolé, aucun article n'est disponible pour le moment</h2>
  </div>

  <app-modal-product-view
  *ngIf= "isDisplayModal && modalProduit"
  [leProduit] = "modalProduit"
  (close) = "handleCloseModal($event)">
</app-modal-product-view> <!-- Ne s'affiche pas de base car false-->


</div>
