.product-list{
  padding: 10px;
  display: flex; /*on rend la boite flexible pour mettre les éléments côte à côte*/
  /*justify-content: space-around;*/
  gap: 50px;
  flex-wrap: wrap; /*retour à la ligne en cas de dépassement de la lareur du pc*/
  justify-content: center;

}

@media screen and (max-width: 900px){
  .product-list{
    justify-content: center;
  }
}
