<div class="slider">
  <div class="slide-item">
  <!--[ngStyle]="{'background-image':'url('+slider[currentIndex]?.imageUrl +')'}"-->

  <img (click)="handleChangImage(-1)"
  src="../../../assets/img/icons/chevron-gauche.png" alt="" class="previous">

  <img style="height: 500px; width: auto;"
  [src]="slider[currentIndex]?.imageUrl" [alt]="currentSlide.name">

  <img (click)="handleChangImage(1)"
    src="../../../assets/img/icons/chevron-droit.png" alt="" class="next">
    <!-- [...] montre qu'on appel un objet spécifique-->
  </div>
</div>
