<!--div class="signup signin">

  <div class="form-inline firstname">
    <input [(ngModel)]="firstname" type="text" name="firstname" placeholder="Frstname..." autofocus />
    <button (click)="handleSave()">Save</button>
  </div>

  <div class="names">
    <!-
      index : position de l'élément
      odd: dit si l'élément est à une pos. impaire
      even: dit si l'élément est à une pos. paire
      first: dit si l'élément est à la 1 ére position impaire
      last: // // dernière
    -->
    <!--ul>
      <!-Boucle pour ajouter les noms grace à "l'indice qui parcour le tab" et 'i' qui représente l'indce cliqué pour supprimer >
      <li class="flex aic" *ngFor="let indice of names; let i = index">
        {{indice}}
        <button class="btn" (click) = "handleUpdate(i)">Update</button>
        <button class="btn" (click) = "handleDelete(i)">Delete</button>
      </li>
    </ul>
  </div>

</div-->

<div class="signup">
  <div class="form-container">
    <form action="">
      <h2 style="font-weight: bold;">Inscription</h2>
      <div class="form-line flex gap-10 wrap">
        <input class="flex-1" type="text" name="firstname" placeholder="Firstname..." autofocus
        [(ngModel)]="user.firstname">
        <input class="flex-1" type="text" name="lastname" placeholder="Lastname..."
        [(ngModel)]="user.lastname">
      </div>

      <div class="form-line flex">
        <input class='flex-1' type="email" name="email" placeholder="Your mail adress..."
        [(ngModel)]="user.email">
      </div>

      <div class="form-line flex">
        <input class='flex-1' type="password" name="password" placeholder="Your password please..."
        [(ngModel)]="user.password">
      </div>
      <div class="form-line flex">
        <input class='flex-1' type="password" name="passwordConfirm" placeholder="Confirm your password please..."
        [(ngModel)]="user.passwordConfirm">
      </div>

      <div class="button flex flex-1">
        <button class="btn flex-1" (click)= "handleInscription()"> S'inscrire</button>
      </div>

      <p>
        {{ user | json}}
      </p>
    </form>
  </div>

</div>
