.modal-product-view-container{
  height: 400px;
  width: 45%;
  background-color: white;
  position: fixed; /*le retire du flux normal d'affichage*/
  z-index: 888; /*Pour le placer en haut*/
  transform: translate(-50%, -50%); /*(axe des X, axe des Y=*/
  /*le fait apparaitre*/
  top: 50%;
  left: 50%;

}


.postClick{
  position: fixed; /*le retire du flux normal d'affichage*/
  z-index: 99; /*Doit être inf. à l'autre z-index*/
  width: 100%;
  height: 100%;
  opacity: 0.8; /*un peu transparent*/
  top: 0;
  left: 0;
  background-color: #1d1d1d;
}

.modal-product-view-details-price del h4{font-size: 1.6rem;}
.modal-product-view-details-price h4{
  font-size: 2.6rem;
  font-weight: bold;
  color: #3f51b5;
}

.modal-product-view-details button{
  width: 60%;
}

.modal-product-view-container img{width: 100%; height: 100%;}

.modal-product-view-details{text-align: center;}
