@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  background-color: hwb(0 100% 0%);
}
header{
  text-transform: uppercase;
  font-size: 1.5em;
  color: white;
}
.none{display: none;}
.b{border: 0.1px solid black;} /*aide pour différencier les composants lors de la construction*/

.bars img{width: 40px; cursor: pointer;}
.bars img:hover{background-color: #ccc; padding: 5px; border-radius: 10px;}

.flex, .row{display: flex;}
.flex-1{flex: 1;}
.flex-2{flex: 2;}
.flex-3{flex: 3;}
.flex-4{flex: 4;}

.aic{align-items: center;}
.jcc{justify-content: center;}
.column{flex-direction: column; /*afficher les élement s en colonne*/}

.btn{
  height: 40px;
  min-width: 150px;
  padding: 10px;
  margin: 10px 0;
  outline: none;
  color: white;
  cursor: pointer;
  background-color: #1d1d1d;
  font-weight: bold;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f ;
}

.btnHeader{
  height: 40px;
  min-width: 150px;
  padding: 10px;
  margin: 10px 0;
  outline: none;
  color: white;
  cursor: pointer;
  background-color: #1d1d1d;
  font-weight: bold;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f ;
}

.btn-main-color{
  background-color: #3f51b5;
  height: 45px;
  min-width: 150px;
  padding: 10px;
  outline: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f ;
  border: 0.1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2em;
}

.gap-10{gap: 10px;}
.gap-5{gap: 5px;}
.gap-2{gap: 3px;}

.wrap{ flex-wrap: wrap;}

.error{ color: red;}

.content{width: 80%;
  margin: 0 auto;
  min-width: 70vh;
}

.unlisted{
  list-style: none;
  padding: 0;
}

@media screen and(max-width: 900px) {
  .content{
    width: 95%;
  }
}

/************************ SINGLE PRODUCT ***************************/

