<div class="signin">
  <div class="form-container">
    <form action="" [formGroup]="signinForm">
      <h2 style="font-weight: bold;">Sign In</h2>
      <P>Don't have an account ? if yes then click here to <a routerLink="/signup">Register</a></P>
      <div class="form-line flex">
        <input class='flex-1' type="email" [formControl]="email" name="email" placeholder="Your mail adress...">
        <!-- Manière non réactive
          [(ngModel)]="user.email"-->
          <div class="error" *ngIf="email.dirty && !email.valid">
            <p *ngIf="email.hasError('required')"> L'email est requis</p>
            <p *ngIf="!email.hasError('required')"> L'email ne respecte pas le bon format</p>
          </div>
      </div>

      <div class="form-line flex">
        <input class='flex-1' type="password" [formControl]="password" name="password" placeholder="Your password please...">
        <!--[(ngModel)]="user.password"-->
        <div class="error" *ngIf="password.dirty && !password.valid">
          <p *ngIf="password.hasError('minlength')"> The password has to be at least 6 characters !</p>
          <p *ngIf="password.hasError('required')"> The password is required !</p>
        </div>
      </div>

      <div class="button flex flex-1">
        <button class="btn flex-1" [disabled]="!this.signinForm.valid" (click)= "handleConnexion()"> Sign In</button>
      </div>

      <!--p>
        {{ user | json}}
      </p-->
    </form>
  </div>

</div>
